// main: ../main.scss
/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu {
  .menu-filters {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;

    li {
      color: color-mix(in srgb, var(--default-color), transparent 30%);
      margin-bottom: 10px;
      cursor: pointer;
      display: inline-block;
      padding: 8px 12px 10px 12px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      transition: all ease-in-out 0.3s;
      font-family: var(--heading-font);

      &:hover,
      &.filter-active {
        color: var(--accent-color);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .menu-item {
    margin-top: 50px;
    position: relative;
  }

  .menu-img {
    width: 80px;
    border-radius: 50%;
    float: left;
    border: 8px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .menu-content {
    margin-left: 95px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "......................................................................"
        "...................................................................."
        "....................................................................";
      position: absolute;
      left: 20px;
      right: 0;
      top: -4px;
      z-index: 1;
      color: color-mix(in srgb, var(--default-color), transparent 60%);
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    a {
      color: var(--heading-color);
      background: var(--background-color);
      padding-right: 10px;
      position: relative;
      z-index: 3;
      font-weight: 700;
      transition: 0.3s;

      &:hover {
        color: var(--accent-color);
      }
    }

    span {
      background: var(--background-color);
      color: var(--accent-color);
      position: relative;
      z-index: 3;
      padding: 0 10px;
      font-weight: 600;
    }
  }

  .menu-ingredients {
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    font-family: var(--nav-font);
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }
}